#zoom-label {
    cursor: pointer;
    text-anchor: end;
    &:hover { font-weight: 500; }
    transform: translate(-20px, -20px)
}

.app-wrapper {
    font-weight: 200;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}

#svg {
    width: 100%;
    display: block;
    height: 100%;
}

#background {
    cursor: grab;
    fill: #efefef;
    &:active { cursor: grabbing; }
}

.newTransition {
    // Node is being selected as a target of a transition.
    .node {
        cursor: pointer !important;
        &:hover, &:active {
            .circle { stroke: #5A73EF; }
        }
    }
    // No target is getting selected.
    #background {
        cursor: default !important;
    }
}

.node-label {
    fill: rgba(0, 0, 0, 0.76);
}

.link-wrapper {
    * { pointer-events: none; }

    .linkShadow {
        stroke: red;
        opacity: 0;
        fill: transparent;
        stroke-width: 70;
        pointer-events: stroke;
        cursor: pointer;
    }
}

.node {
    cursor: move;
    &:active { stroke: #000; }
    
    &:hover .circle { stroke-width: 2px; }
    &:active .circle { stroke-width: 3px; }

    .circle {
        fill: #A3C4BF;
        paint-order: stroke;
        stroke: #000;
        stroke-width: 0px;
    }

    &.start .circle { fill: #6DB4EB; }
    &.accept .circle { fill:#6DEB7A; }
    &.reject .circle { fill: #E46A6A; }
}
    
.link {
    transition: stroke-width 0.2s ease;
    stroke-width: 1px;
    fill: transparent;
    marker-end: url(#arrow-head);

    &.active {
        stroke-width: 3px;
    }

    &.temporary {
        stroke-width: 3px;
        marker-end: url(#arrow-head-temporary);
    }

    &.reversed {
        marker-end: none;
        marker-start: url(#reversed-arrow-head);
    }
}

#reversed-arrow-head, #arrow-head, .link {
    stroke: #707070;
    fill: none;
}

#arrow-head-temporary, .link.temporary {
    stroke: #5A73EF;
    pointer-events: none;
    fill: none
}

&.view {

    .linkShadow {
        cursor: default;
    }

    .node {
        cursor: default;
    }

}

.referential-marker {
    fill: #ff0000;
    font-size: 20px;
}