@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1xtfhu');
  src:  url('fonts/icomoon.eot?1xtfhu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1xtfhu') format('truetype'),
    url('fonts/icomoon.woff?1xtfhu') format('woff'),
    url('fonts/icomoon.svg?1xtfhu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-upload:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-forward:before {
  content: "\e904";
}
.icon-clear:before {
  content: "\e905";
}
.icon-done:before {
  content: "\e906";
}
.icon-left-arrow:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-circle-add:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-dot-fill:before {
  content: "\e90b";
}
.icon-dot-stroke:before {
  content: "\e90c";
}
.icon-function:before {
  content: "\e90d";
}
.icon-left-arrow-alt:before {
  content: "\e90e";
}
.icon-right-arrow-alt:before {
  content: "\e90f";
}
.icon-add:before {
  content: "\e910";
}
.icon-diagram:before {
  content: "\e911";
}
.icon-sum:before {
  content: "\e912";
}
.icon-redo:before {
  content: "\e913";
}
.icon-play:before {
  content: "\e914";
}
.icon-pause:before {
  content: "\e915";
}
.icon-replay:before {
  content: "\e916";
}
.icon-repeat:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-github:before {
  content: "\e919";
}
.icon-code:before {
  content: "\e91a";
}
.icon-grid:before {
  content: "\ea71";
}
.icon-help:before {
  content: "\e91b";
}