/* Colors */
$color-normal: #8A8989;
$color-positive: #4BC568;
$color-negative: #C54B4B;
$color-light: #fff;
$color-active: #5A73EF;

$color-gray-2: #e0e0e0;
$color-gray-3: #e6e6e6;

$icon-size-base: 43px;

$side-background: #E5E5E5;

/* Fonts */
$font-small: 16px "Segoe UI";
$font-normal: 20px "Segoe UI";
$font-big: 24px "Segoe UI light";
$font-small-semibold: 16px "Segoe UI semibold";

$tape-font-big: bold 32px "Lucida Console";
$tape-font-normal: bold 24px "Lucida Console";
$tape-font-small: bold 16px "Lucida Console";