$colors: ("reject": #E65454, "start": #5471E6, "accept": #54E671);
$border-thickness: 2px;

table {
	border-collapse: separate;
}

// View-mode
&.view {

	.bottom-row {
		display: none;
	}

	.row-wrapper:last-child .row td {
		border-bottom: none;
	}
	
	td:last-child:not(.divider) {
		display: none;
	}

}

td {
	transition: background-color 0.2s ease;

	color: #585858;
	border: $border-thickness solid #D1D1D1;
	border-right: $border-thickness / 2;

	padding: 20px;
	text-align: center;
	vertical-align: middle;

	&:first-child {
		border-left: none;
	}

	&:last-child {
		border-right: none;
	}

	&.state, &.header {
		font-weight: 600;
		background: #E2E2E2;
	}

	&.undefined {
		font-style: italic;
	}

	&.transition, &.state, &.header {
		cursor: pointer;
	}

	&.divider {
		padding: 0;
		border: none;
		display: none;
		padding-top: $border-thickness;
	}
}

.accept, .start, .reject {

	td {
		border-bottom: none;
	}

	.divider {
		display: table-cell;
	}
}

@each $type, $color in $colors {
	.#{$type} {
		.divider { background: $color; }
		.state {
			border-left: $border-thickness solid $color;
		}
	}	
}

.state, .header, .transition {
	&:hover {
		outline: 1px dashed black;
	}
	&.active {
		outline: 1px solid black;
	}
}

tr {

	&:first-child td {
		border-top: none;
	}

	&.bottom-row td {
		border-bottom: none;
	}
	
	&.divider {
		padding: 0;
	}
}